
<div class="masthead">
  <nav class="language-nav">
  	<ul>
  		<li> 
  			<a href="">CSS</a>
  		</li>
  		<li>
  			<a href="">HTML</a>
  		</li>
      <li>
        <a href="">JavaScript</a>
      </li>
      <li>
        <a href="">Ruby</a>
      </li>
  	</ul>
  </nav>
  
  <img src="<%= asset_path('AA_Times_Logo.png') %>" class="logo" alt="Where's my logo?">
  
  <nav class="masthead-links">
    <ul>
      <li>
        <a href="">Tuesday, October 18, 2016</a>
      </li>
      <li>
        <i class="far fa-newspaper"></i>
        <a class="underlinks" href="">Today's Paper</a>
      </li>
      <li>
        <i class="fas fa-video"></i>
        <a class="underlinks" href="">Video</a>
      </li>
      <li>
        <a class="gray-links" href="">77°F</a>
      </li>
      <li>
        <a class="gray-links" href="">AA0 <strong class="gray-links">+100%</strong></a>
      </li>
    </ul>
  </nav>
</div>